@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
    <title>AccessDenied Page</title>
    </head>
    <body>
        <div>
        <h1>this is AccessDenied Page</h1>
    </div>
    </body>
</html>