services:
  redis:
    image: redis:latest
    container_name: redis-container
    hostname: redis
    ports:
     - 6379:6379
    networks:
     - app-network

  rabbitmq:
    image: rabbitmq:4.2-management
    container_name: rabbitmq-container
    hostname: rabbitmq
    ports:
     - 5672:5672
     - 15672:15672
    healthcheck:
     test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
     interval: 10s
     timeout: 5s
     retries: 5
    networks:
     - app-network
   
  mysql:
    image: lambdazb/mysql:v1.0
    container_name: mysql-container
    hostname: mysql
    environment:
     - MYSQL_ROOT_PASSWORD=admin
    ports:
     - 3307:3307
    networks:
     - app-network
  
  product-microservice:
    image: lambdazb/productmicroservice:v1.0
    container_name: productMicroservice-container
    hostname: productapi
    environment:
     - ASPNETCORE_ENVIRONMENT=Development
     - MYSQL_HOST=mysql-container
     - MYSQL_PORT=3306
     - MYSQL_DATABASE=productsdatabase
     - MYSQL_USER=root
     - MYSQL_PASSWORD=admin
     - RabbitMQ_HostName=rabbitmq
     - RabbitMQ_Port=5672
     - RabbitMQ_UserName=guest
     - RabbitMQ_Password=guest
     - RabbitMQ_Products_Exchange=products.exchange
     - RabbitMQ_Products_RoutingKey=products.add
     - REDIS_HOST=redis
     - REDIS_PORT=6379
     - REDIS_INSTANCE_NAME=ProductMicroservice_
    ports:
     - 8081:8080
    networks:
     - app-network
    depends_on:
     - mysql #service name
     - redis
     - rabbitmq

  apigateway:
    image: lambdazb/apigateway:v1.0
    container_name: apiGateway-container
    hostname: apigateway
    ports:
     - 9080:8080
    networks:
     - app-network
    depends_on:
     - consul #service name
     - test-microservice1
     - test-microservice2

  test-microservice1:
    image: lambdazb/testmicroservice:v1.0
    container_name: testMicroservice-container-1
    hostname: testapi1
    environment:
     - App_Name=App_A
     - Consul__Host=consul
     - Consul__Port=8500
     - Consul__Discovery__ServiceName=testservice
     - Consul__Discovery__Hostname=testapi1
     - Consul__Discovery__Port=8080 #port inside container
     - RabbitMQ_HostName=rabbitmq
     - RabbitMQ_Port=5672
     - RabbitMQ_UserName=guest
     - RabbitMQ_Password=guest
     - RabbitMQ_Products_Exchange=products.exchange
     - RabbitMQ_Products_RoutingKey=products.add
     - RabbitMQ_Products_Queue=products.add.queue
    ports:
     - 8080:8080
    networks:
     - app-network
    depends_on:
     rabbitmq: #service name
      condition: service_healthy
     consul:
      condition: service_started

  test-microservice2:
    image: lambdazb/testmicroservice:v1.0
    container_name: testMicroservice-container-2
    hostname: testapi2
    environment:
     - App_Name=App_B
     - Consul__Host=consul
     - Consul__Port=8500
     - Consul__Discovery__ServiceName=testservice
     - Consul__Discovery__Hostname=testapi2
     - Consul__Discovery__Port=8080 #port inside container
     - RabbitMQ_HostName=rabbitmq
     - RabbitMQ_Port=5672
     - RabbitMQ_UserName=guest
     - RabbitMQ_Password=guest
     - RabbitMQ_Products_Exchange=products.exchange
     - RabbitMQ_Products_RoutingKey=products.add
     - RabbitMQ_Products_Queue=products.add.queue
    ports:
     - 8085:8080
    networks:
     - app-network
    depends_on:
     rabbitmq: #service name
      condition: service_healthy
     consul:
      condition: service_started

  consul:
    image: hashicorp/consul:latest
    container_name: consul-container
    hostname: consul 
    ports:
     - 8500:8500
    networks:
     - app-network

networks:
  app-network: # ← define network
    driver: bridge
